<p id="notice"><%= notice %></p>

<h1>Codigo Postals</h1>

<table>
  <thead>
    <tr>
      <th>CodigoPostal</th>
      <th>Town</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codigo_postals.each do |codigo_postal| %>
      <tr>
        <td><%= codigo_postal.codigoPostal %></td>
        <td><%= codigo_postal.town %></td>
        <td><%= link_to 'Show', codigo_postal %></td>
        <td><%= link_to 'Edit', edit_codigo_postal_path(codigo_postal) %></td>
        <td><%= link_to 'Destroy', codigo_postal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Codigo Postal', new_codigo_postal_path %>
