<div class="form-panel col-sm-8">
  <h4>Materia</h4>
</div>
<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @matters.each do |matter| %>
        <tr>
          <td><%= matter.name %></td>
          <td><%= link_to 'Show', matter, class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_matter_path(matter), class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to 'Destroy', matter, method: :delete, data: { confirm: 'Estas Seguro?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="form-panel col-sm-8">
  <%= link_to 'Nuevo', new_matter_path, class: "btn btn-primary" %>
</div>
