<%= form_with(model: state, local: true) do |form| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :state_estado %>
  </div>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :state_codigo %>
  </div>

  <div class="field">
    <%= form.label :circuito %>
    <%= form.text_field :circuito, id: :state_circuito %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
