<%= form_with(model: state, local: true) do |form| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(state.errors.count, "error") %> al Guardar</h4>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-panel col-sm-8">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, id: :state_name, class: "form-control" %>
  </div>
  <br>
  <div class="form-panel col-sm-8">
    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<br>
<% end %>
