<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @state.estado %>
</p>


<p>
  <strong>Codigo:</strong>
  <%= @state.codigo %>
</p>

<p>
  <strong>Circuito:</strong>
  <%= @state.circuito %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
