<div class="form-group col-sm-8">
  <h4>Clientes/Contrarios</h4>
</div>

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Cliente/Contrario</th>
        <th scope="col">Domicilio Particular</th>
        <th scope="col">Domicilio Notificaciones</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Celular</th>
        <th scope="col">Usurio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr scope="row">
          <td><%= customer.name %></td>
          <td><%= customer.adress %></td>
          <td><%= customer.adress2 %></td>
          <td><%= customer.email %></td>
          <td><%= customer.celular %></td>
          <td><%= customer.user.email %></td>
          <td><%= link_to 'Consultar', customer , class: "btn btn-outline-primary btn-sm"%></td>
          <td><%= link_to 'Modificar', edit_customer_path(customer) , class: "btn btn-outline-primary btn-sm"%></td>
          <td><%= link_to 'Eliminar', customer, method: :delete, data: { confirm: 'Estas Seguro?' } , class: "btn btn-outline-danger btn-sm"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="form-group col-sm-8">
  <%= link_to 'Nuevo', new_customer_path, class: "btn btn-primary" %>
</div>
