<div class="form-group col-sm-8">
  <p>
    <strong>Nombre:</strong>
    <%= @customer.name.to_s + ' ' + @customer.name2.to_s %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @customer.lastname.to_s + ' ' + @customer.lastname2.to_s %>
  </p>

  <p>
    <strong>Domicilio Particular:</strong>
    <%=  %>
  </p>

  <p>
    <strong>Domicilio Notificación:</strong>
    <%=  %>
  </p>

  <p>
    <strong>Correo Electronico:</strong>
    <%= @customer.email %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= @customer.cellular %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= @customer.customer_type.name %>
  </p>

  <%= link_to 'Modificar', edit_customer_path(@customer), class: "btn btn-primary" %> |
  <%= link_to 'Regresar', customers_path, class: "btn btn-primary" %>
</div>
