<div class="form-group col-sm-8">

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Informacion</a>
    <a class="nav-item nav-link" id="nav-bitacory-tab" data-toggle="tab" href="#nav-bitacory" role="tab" aria-controls="nav-bitacory" aria-selected="false">Bitacora</a>
    
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    </br>
    <p>
      <strong>Nombre:</strong>
      <%= @customer.name.to_s + ' ' + @customer.name2.to_s %>
    </p>

    <p>
      <strong>Apellidos:</strong>
      <%= @customer.lastname.to_s + ' ' + @customer.lastname2.to_s %>
    </p>

    <p>
      <strong>Domicilio Particular:</strong>
      <%=  %>
    </p>

    <p>
      <strong>Domicilio Notificación:</strong>
      <%=  %>
    </p>

    <p>
      <strong>Correo Electronico:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Celular:</strong>
      <%= @customer.cellular %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @customer.customer_type.name %>
    </p>

  </div>
  <div class="tab-pane fade" id="nav-bitacory" role="tabpanel" aria-labelledby="nav-bitacory-tab">
    <div class="table-responsive">
    </br>
      <table class="table table-condensed table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Campo</th>
              <th scope="col">Accion</th>
              <th scope="col">Nuevo</th>
              <th scope="col">Anterior</th>
              <th scope="col">Fecha</th>
              <th scope="col">Usuario Logeado</th>
            </tr>
          </thead>
        <tbody>
          <tr>
          <% @customer.customer_blogs.each do |customer_blog| %>
            <td><%= customer_blog.field %></td>
            <td><%= customer_blog.action %></td>
            <td><%= customer_blog.new %></td>
            <td><%= customer_blog.older %></td>
            <td><%= customer_blog.created_at %></td>
            <td><%= customer_blog.user.email %></td>
          <%end%>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
  
  
  <%= link_to 'Modificar', edit_customer_path(@customer), class: "btn btn-primary" %> |
  <%= link_to 'Regresar', customers_path, class: "btn btn-primary" %>
</div>
