<%= form_with(model: court, local: true) do |form| %>
  <% if court.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(court.errors.count, "error") %> Al guardar</h4>

      <ul>
      <% court.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-8">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, id: :court_name, class: "form-control" %>
  </div>

  <div class="form-group col-sm-8">
    <div class="actions">
      <%= form.submit "Guardar", class: "form-control" %>
    </div>
  </div>
<% end %>
