<p id="notice"><%= notice %></p>

<h1>Townships</h1>

<table>
  <thead>
    <tr>
      <th>Municipio</th>
      <th>Codigo</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @townships.each do |township| %>
      <tr>
        <td><%= township.municipio %></td>
        <td><%= township.codigo %></td>
        <td><%= township.state %></td>
        <td><%= link_to 'Show', township %></td>
        <td><%= link_to 'Edit', edit_township_path(township) %></td>
        <td><%= link_to 'Destroy', township, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Township', new_township_path %>
