<div class="form-group">
  <h4>Expedientes</h4>
</div>

<div class="form-group">
  <%= link_to 'Nuevo', new_expedient_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm table-responsive-sm" >
    <thead class="thead-primary">
      <tr>
        <th scope="col">No Expediente</th>
        <th scope="col">Año</th>
        <th scope="col">Activo</th>
        <th scope="col">Actor</th>
        <th scope="col">Demandado</th>
        <th scope="col">Cliente</th>
        <th scope="col">Honorarios</th>
        <th scope="col">Pagos</th>
        <th scope="col">Saldo</th>
        <th scope="col">Estado</th>
        <th scope="col">Distrito</th>
        <th scope="col">Accion</th>
        <th scope="col">Materia</th>
        <th scope="col">Tipo Juicio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @expedients.each do |expedient| %>
        <tr scope="row" data-link="<%= edit_expedient_path(expedient) %>">
          <td><%= expedient.NoExpedient %></td>
          <td><%= expedient.year.strftime("%Y") %></td>
          <td><%= expedient.active %></td>
          <td><%= expedient.actor %></td>
          <td><%= expedient.defendant %></td>
          <td><%= expedient.customer %></td>
          <td><%= expedient.fee %></td>
          <td><%= expedient.payment %></td>
          <td><%= expedient.saldo %></td>
          <td><%= expedient.state.name %></td>
          <td><%= expedient.district.name %></td>
          <td><%= expedient.act.name %></td>
          <td><%= expedient.matter.name %></td>
          <td><%= expedient.judgment.name %></td>
          <!--  
          <td><%= link_to 'Consultar', expedient , class: "btn btn-outline-primary btn-sm"%></td>
          <td><%= link_to 'Modificar', edit_expedient_path(expedient) , class: "btn btn-outline-primary btn-sm"%></td>
          <td><%= link_to 'Eliminar', expedient, method: :delete, data: { confirm: 'Estas Seguro?' }, class: "btn btn-outline-danger btn-sm" %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


