<p id="notice"><%= notice %></p>

<p>
  <strong>Noexpedient:</strong>
  <%= @expedient.NoExpedient %>
</p>

<p>
  <strong>Year:</strong>
  <%= @expedient.year %>
</p>

<p>
  <strong>Active:</strong>
  <%= @expedient.active %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @expedient.actor %>
</p>

<p>
  <strong>Defendant:</strong>
  <%= @expedient.defendant %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @expedient.customer %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @expedient.fee %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @expedient.payment %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @expedient.saldo %>
</p>

<p>
  <strong>Court:</strong>
  <%= @expedient.court %>
</p>

<p>
  <strong>State:</strong>
  <%= @expedient.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @expedient.district %>
</p>

<p>
  <strong>Act:</strong>
  <%= @expedient.act %>
</p>

<p>
  <strong>Matter:</strong>
  <%= @expedient.matter %>
</p>

<p>
  <strong>Judgment:</strong>
  <%= @expedient.judgment %>
</p>

<%= link_to 'Edit', edit_expedient_path(@expedient) %> |
<%= link_to 'Back', expedients_path %>
