<%= form_with(model: customer_type, local: true) do |form| %>
  <% if customer_type.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(customer_type.errors.count, "error") %> Error al guardar el registro:</h4>

      <ul>
      <% customer_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-8">
    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group col-sm-8">
    <%= form.label :name, "Tipo Cliente" %>
    <%= form.label :created_at, "Fecha Creacion" %>
    <%= form.label :updated_at, "Fecha Actualizacion" %>
    <%= form.text_field :name, id: :customer_type_name, class: "form-control" %>
  </div>


<% end %>
