<%= form_with(model: act, local: true) do |form| %>
  <% if act.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(act.errors.count, "error") %> al guardar</h4>

      <ul>
      <% act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-8">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, id: :act_name, class: "form-control" %>
  </div>

  <div class="form-group col-sm-8">
    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
